a {
				color: #333;
			}
			
			.mui-bar-nav {
				background-color: #dd3652;
			}
			
			.mui-title {
				color: #fff;
				font-size: 24px;
			}
			
			.box {
				width: 100%;
				display: block;
				background-color: #fff;
				float: left;
			}
			
			.mt15 {
				margin-top: 15px;
			}
			
			.mb50 {
				margin-bottom: 50px;
			}
			
			.t_tit {
				height: 60px;
				line-height: 60px;
				position: relative;
				padding-left: 10px;
				font-size: 20px;
				border-bottom: 2px solid #e2e2e2;
			}
			
			.mui-bar .mui-icon {
				font-size: 20px;
			}
			
			.mui-bar-tab .mui-tab-item.mui-active {
				color: #dd3652;
			}
			
			.ad_l {
				width: 50%;
				float: left;
				padding: 10px;
				border-right: 1px solid #e8e8e8;
			}
			
			.ad_tit {
				font-size: 16px;
				text-align: center;
				color: #333;
				line-height: 26px;
				font-weight: bold;
			}
			
			.ad_r {
				width: 50%;
				float: left;
			}
			
			.ad_img {
				width: 30%;
				text-align: left;
			}
			
			.ad_txt {
				width: 70%;
			}
			
			.fl {
				float: left;
			}
			
			.mui-table-view-cell:after {
				left: 0;
			}
			
			.mui-table-view .mui-media-object {
				line-height: 42px;
				max-width: 70px;
				height: 86px;
			}
			
			.mui-table-view:after {
				position: inherit;
			}
			
			.mui-ellipsis {
				font-size: 18px;
				color: #bc415d;
				text-align: center;
			}
			
			.mui-media-body {
				line-height: 30px;
			}
			
			.index1 {
				border: #F1F1F1 solid 1px;
				width: 50%;
				padding: 10px;
				min-height: 0;
				overflow: hidden;
				zoom: 1;
				float: left;
				background-color: white;
			}
			
			.index1_img {
				padding-top: 5px;
			}
			
			.cic_bg {
				width: 40px;
				height: 40px;
				position: relative;
				border-radius: 50%;
				float: left;
				text-align: right;
				background-color: #e82743;
			}
			
			.icon_shop {
				position: absolute;
				text-align: center;
				top: 8px;
			}
			
			.fs14 {
				font-size: 14px;
			}
			
			.num {
				color: #bc415d;
			}